/* @import "tailwindcss";
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --default-font-family: "Source Sans 3", "sans-serif";
}

@theme {
  --default-font-family: "Source Sans 3", "sans-sarif";
  --color-mint-500: oklch(0.72 0.11 178);
}

@layer utilities {
  .shimmer {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 25%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.05) 100%
    );
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }
} */
