@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@import "@fontsource/source-sans-pro";

@import "tailwindcss";
@tailwind utilities;

@theme {
  /* --default-font-family: "Source Sans 3", "sans-sarif" */
  --default-font-family: "Source Sans 3", "sans-serif";
  /*  */
  /* --color-mint-500: oklch(0.72 0.11 178); */
  /* --color-brand-50: oklch(20.9% 0 0);
  --color-brand-100: oklch(25.2% 0 0);
  --color-brand-200: oklch(26.03% 0 0);
  --color-brand-300: oklch(28.09% 0 0);
  --color-brand-400: oklch(32.11% 0 0);
  --color-brand-500: oklch(38.67% 0 0);
  --color-brand-600: oklch(44.95% 0 0);
  --color-brand-700: oklch(51.03% 0 0);
  --color-brand-800: oklch(68.3% 0 0);
  --color-brand-900: oklch(73.8% 0 0); 
  --color-white:oklch(89.8% 0 0);
*/


/* light mode */
  --color-brand-50: oklch(79.1% 0 0);
--color-brand-100: oklch(74.8% 0 0);
--color-brand-200: oklch(73.97% 0 0);
--color-brand-300: oklch(71.91% 0 0);
--color-brand-400: oklch(67.89% 0 0);
--color-brand-500: oklch(61.33% 0 0);
--color-brand-600: oklch(55.05% 0 0);
--color-brand-700: oklch(48.97% 0 0);
--color-brand-800: oklch(31.7% 0 0);
--color-brand-900: oklch(26.2% 0 0);
--color-white:oklch(10.2% 0 0);
--color-amber-800: rgb(120, 20, 200)
}

@layer utilities {
  /* .shimmer {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.05) 100%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  } */
  .animate-pulse-fast {
    animation: pulse 1s infinite;
  }
}

svg {
  @apply fill-current text-white; /* You can replace 'blue-500' with any color */
}